/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.no-bullet {
  list-style-type: none;
  padding: 0;
  margin-left: 1em;
}
